<template>
  <link href="style.css" rel="stylesheet" />
  <div class="background">
    <div class="gameName">
      <h1 class="pealkiri">{{ liveGame?.name }}</h1>
    </div>
    <div>
      <Popup :open="isOpen" @close="isOpen = !isOpen">
        <p>{{ liveGame?.rules }}</p>
      </Popup>

      <div class="tableDiv">
        <table id="1">
          <thead>
            <tr>
              <th>Alad</th>
              <th v-for="player in liveGame?.players">{{ player.name }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(event,index) in liveGame?.events">
              <td>{{ event.name }}</td>
              <td v-for="player in liveGame?.players">
                <td>
                  <input 
                    :id="index.toString" 
                    type="number" 
                    v-model="player.results[index].result" 
                    v-on:input="calculatePoints(player, event, index)" 
                    :key="index"
                  />
                </td>
                <td v-if="player.points[index].point == 0">0p</td>
                <td v-else>{{ player.points[index].point + "p"}}</td>
              </td>
            </tr>
            <tr>
              <td>Kokku</td>
              <td v-for="player in liveGame?.players">{{calculateTotal(player) + "p"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="rulesButtonDiv">
      <button class="rulesButton" @click="isOpen = true">Reeglid</button>
      <button class="rulesButton edetabel" @click="Submit">Edetabel</button>
    </div>
    <div class="saveClass">
      <button class="button1 stop" @click="endGame">Lõpeta</button>
      <button class="button2 save" @click="saveGame">Salvesta</button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import Popup from '@/components/Popup.vue';
import { useGamesStore } from '@/stores/gameStore';
import { Player,Points,Results } from '@/model/game';
import { Event } from '@/model/game';
import router from '@/router';

const isOpen = ref(false);
let { liveGame } = useGamesStore();
const gameStore = useGamesStore();

function saveGame() {
  gameStore.updateGame(liveGame);
}
function endGame() {
  gameStore.updateGame(liveGame);
  router.push("/")
}

function Submit() {
  router.push('/leaderboard');
}

function calculatePoints(player : Player, event : Event, index : any) {
  const result = player.results![index].result.toString();
  if(result == '' || result== "" || result == null) 
  {
    player.points![index].point = 0 as unknown as number;
    return 0; 
  }
  let formula = event.formula!.replaceAll('x',result);
  const points = eval(formula);
  return player.points[index].point = Math.round(points) as unknown as number;
}

function calculateTotal(player : Player) {
  let sum = 0;
  player.points?.forEach((element)=> {
    sum += element.point as unknown as number;
  });
  return sum;
}

</script>

<style scoped>
.saveClass {
  justify-content: center;
  position: relative;
  display: flex;

  margin-top: 100px;
  margin-right: 20%;
}
.button2.save {
  margin-right: 100px;
}
.rulesButton.edetabel{
  margin-right:20%;
}

.button1.stop {
  margin-left: 200px;
  background-color: rgba(255, 0, 0, 0.65);
}
.button1.stop:hover{
  background-color: rgb(255, 191, 244);
}
.gameName {
  position: relative;
  display: flex;
  justify-content: center;
}
.tableDiv {
  position: relative;
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
.pealkiri {
  font-weight: bold;
  font-size: 26px;
  color: black;
}
.rulesButton {
  font-weight: bold;
  font-size: 15px;
  color: black;
}
button {
  border-radius: 6px;
  border-color: black;
  border-width: 1px;
  position: absolute;
  right: 20px;
  bottom: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
.rulesButtonDiv {
  justify-content: center;
  position: relative;
  display: flex;

  margin-top: 100px;
  margin-right: 40%;
}

table {
  font-family: 'Open Sans', sans-serif;
  width: 750px;
  perspective: 1px;
  border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
table tbody{
  background: linear-gradient(45deg, #49a09d, #5f2c82);
}
table th {
  text-transform: uppercase;
  text-align: left;
  padding: 8px;
  min-width: 30px;
  background-color: #55608f;
	color: #fff;
}
table td {
  text-transform: uppercase;
  text-align: left;
  padding: 8px;
  border-right: 2px solid #55608f;
  background-color: rgba(255,255,255,0.2);
	color: #fff;
}
table td input{
  background-color: rgba(255,255,255,0.0);
}
table td:last-child {
  border-right: none;
}
</style>
