<template>
  <link href="style.css" rel="stylesheet" />
  <div class="background">
    <img src="@/images/Ellipse1.svg" class="ellipse1" />
    <img src="@/images/Ellipse2.svg" class="ellipse2" />
    <h1>Populaarsed mängud</h1>
    <div v-if="gamesCount > 3" class="Homediv">
      <div class="Dashboard">
        <div
          v-if="showMore"
          v-for="(game, index) in popularGames"
          :key="game.name"
          class="kümnevõistlusM"
        >
          <img
            class="AthleteImage"
            :src="popularGames[index].picturePath"
            :alt="
              popularGames[index].picturePath.substring(
                11,
                popularGames[index].picturePath.length - 4,
              )
            "
          />
          <h2 class="võistluseNimi">
            <a
              role="button"
              :href="popularGames[index].name.replace(/\s/g, '')"
              >{{ popularGames[index].name }}</a
            >
          </h2>
        </div>
        <div v-else="!showMore" v-for="n in 3" :key="n" class="kümnevõistlusM">
          <img
            class="AthleteImage"
            :src="popularGames[n - 1].picturePath"
            :alt="
              popularGames[n - 1].picturePath.substring(
                11,
                popularGames[n - 1].picturePath.length - 4,
              )
            "
          />
          <h2 class="võistluseNimi">
            <a
              role="button"
              :href="popularGames[n - 1].name.replace(/\s/g, '')"
              >{{ popularGames[n - 1].name }}</a
            >
          </h2>
        </div>
      </div>
      <button
        class="showMore"
        @click="
          changeText();
          changeShow(), consoleLogTest();
        "
      >
        {{ buttonText }}
      </button>
    </div>

    <div v-if="gamesCount <= 3" class="Homediv">
      <div class="Dashboard">
        <div v-for="n in gamesCount" :key="n" class="kümnevõistlusM">
          <img
            class="AthleteImage"
            :src="popularGames[n - 1].picturePath"
            :alt="
              popularGames[n - 1].picturePath.substring(
                11,
                popularGames[n - 1].picturePath.length - 4,
              )
            "
          />
          <h2 class="võistluseNimi">{{ popularGames[n - 1].name }}</h2>
        </div>
      </div>
    </div>

    <h1>Minu mängud</h1>
    <div class="Homediv">
      <div class="Dashboard">
        <div v-for="game in games" class="kümnevõistlusM">
          <img
            class="AthleteImage"
            :src="myGamePicturePath"
            :alt="myGamePicturePath"
          />
          <h2 class="võistluseNimi">
            <a role="button" @click="gamesStore.getGameById(game.id)">{{
              game.name
            }}</a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineComponent, ref, onMounted, computed } from 'vue';
import { usePopularGamesStore } from '@/stores/popularGamesStore';
import { Game, Event } from '@/model/game';
import { useGamesStore } from '@/stores/gameStore';
import { storeToRefs } from 'pinia';

/** variables **/
const { popularGames } = usePopularGamesStore();
const n = ref(popularGames.length);
const gamesCount = ref(n.value);
const buttonTextBool = ref(false);
const buttonText = ref('Näita rohkem');
const showMore = ref(false);
const myGamePicturePath = 'src/images/PeppaGame.jpg';

const gamesStore = useGamesStore();
const { games } = storeToRefs(gamesStore);

onMounted(() => {
  gamesStore.load();
});

/** methods **/
function consoleLogTest() {}

function changeText() {
  buttonTextBool.value = !buttonTextBool.value;
  if (buttonTextBool.value == true) {
    buttonText.value = 'Näita vähem';
  } else {
    buttonText.value = 'Näita rohkem';
  }
}

function changeShow() {
  showMore.value = !showMore.value;
}
</script>
<style scoped>
h1 {
  margin-left: 13%;
}
h2.võistluseNimi {
  font-family: jost;
  font-style: normal;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 580;
  font-size: 20px;
  line-height: 29px;
}
button {
  border-radius: 6px;
  border-color: black;
  border-width: 1px;
  position: absolute;
  right: 20px;
  bottom: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
.Homediv {
  position: relative;
  margin: auto;
  width: 80%;
  margin-top: 0px;
  border-radius: 10px;
  min-width: 300px;
  padding: 10px;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 20px;
}

.Dashboard {
  box-sizing: 25px;
  padding: 25px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 2fr 2fr;
  text-align: center;
}

.GamesHeader {
  padding-top: 100px;
  margin-bottom: 13px;
  margin-left: 16%;
}

@media (max-width: 1148px) {
  .Dashboard {
    box-sizing: 25px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .Homediv {
    max-width: 790px;
  }
}

.AthleteImage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Dashboard div {
  margin: 14px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  border-radius: 10px;
  text-align: start;
  text-align: center;
  border-color: black;
  background-color: #d9d9d9e5;
  border-width: 1px;
  min-width: 200px;
  max-width: 502px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);
}
img.AthleteImage {
  float: left;
  width: 502px;
  height: 220px;
  object-fit: cover;
}
.showMore {
  font-family: jost;
  font-style: normal;
}
</style>
