<template>
  <link href="style.css" rel="stylesheet" />
  <div class="background">
    <img src="@/images/Ellipse1.svg" class="ellipse1" />
    <img src="@/images/Ellipse2.svg" class="ellipse2" />

    <div v-for="(player, index) in playersByPoints" :key="index">
      <div class="Homediv" @click="changeShow()">
        <h1>
          {{ index + 1 }}. koht - {{ player.name }}
          {{ calculateTotal(player) + 'p' }}
        </h1>
        <div class="Dashboard">
        </div>
        <table v-if="showMore">
          <tbody>
          <tr v-for="(event, index) in liveGame?.events">
            <td>{{ event.name }}</td>
            <td>
                <td v-if="player.points[index].point == undefined">0p</td>
                <td v-else>{{ player.points[index].point + "p"}}</td>
              </td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, HTMLAttributes, defineComponent } from 'vue';
import { usePopularGamesStore } from '@/stores/popularGamesStore';
import { Player,Points,Results, Event } from '@/model/game';
import { useGamesStore } from '@/stores/gameStore';

/** variables **/
let { liveGame } = useGamesStore();
const showMore= ref(false);
const players = liveGame?.players;
const playersBeforeSort = new Array<Player>;
players.forEach(player =>
  playersBeforeSort.push(Object.assign({}, player)));

const playersByPoints: any = playersBeforeSort.sort((a,b) => (calculateTotal(a) > calculateTotal(b) ? -1 : 1))
/** methods **/

function calculateTotal(player : Player) {
  let sum = 0;
  player.points?.forEach((element)=> {
    sum += element.point as unknown as number;
  });
  return sum;
}
function changeShow() {
  showMore.value = !showMore.value
}


</script>
<style scoped>
table td {
  text-transform: uppercase;
  text-align: left;
  padding: 8px;
	color: black;
}
h1 {
  margin-left: 1%;
}
h2.võistluseNimi {
  font-family: jost;
  font-style: normal;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 580;
  font-size: 20px;
  line-height: 29px;
}
.show {
  height: 55px;
  width: 55px;
  position: absolute;
  right: 20px;
  bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.arrowUp {
  position: absolute;
  height: 55px;
  width: 55px;
  right: 20px;
  bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  transform: rotate(180deg);
}
.Homediv {
  position: relative;
  margin: auto;
  width: 80%;
  margin-top: 0px;
  border-radius: 10px;
  min-width: 300px;
  padding: 10px;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 20px;
}

.Dashboard {
  box-sizing: 25px;
  padding: 25px;
  text-align: center;
}

.GamesHeader {
  padding-top: 100px;
  margin-bottom: 13px;
  margin-left: 16%;
}

@media (max-width: 1148px) {
  .Dashboard {
    box-sizing: 25px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .Homediv {
    max-width: 790px;
  }
}
.Dashboard div {
  margin: 14px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  text-align: start;
  text-align: left;
  min-width: 200px;
  max-width: 502px;
}
</style>
