<template>
  <link href="style.css" rel="stylesheet" />
  <div class="background">
    <div class="flexbox-container">
      <form id="loginFrom" @submit.prevent="submit">
        <div class="flexbox-item flexbox-item-name">
          <div>
            <label class="newGameLabel">Kasutajanimi</label>
            <input
              class="textbox"
              placeholder="Kasutajanimi"
              type="username"
              v-model="user.username"
              name="username"
            />
          </div>
          <div>
            <label class="newGameLabel" for="password">Parool</label>
            <input
              class="textbox"
              placeholder="Parool"
              type="password"
              v-model="user.password"
              name="password"
            />
          </div>
          <div>
            <button type="submit" class="addEvent">Logi sisse</button>
          </div>
          <div>
            <button
              id="looKonto"
              type="button"
              class="addEvent"
              @click="makeVisible()"
            >
              Loo konto
            </button>
          </div>
        </div>
        <p v-if="showError" class="errorMessage">
          Vigane kasutajanimi või parool
        </p>
        <div class="flexbox-container"></div>
      </form>
    </div>
    <div class="flexbox-container">
      <div class="flexbox-item flexbox-item-name">
        <form id="registreeriFrom" type="registerForm" style="display: none">
          <label class="newGameLabel">Eesnimi</label>
          <input class="textbox" placeholder="Eesnimi" />
          <label class="newGameLabel">Perekonnanimi</label>
          <input class="textbox" placeholder="Perekonnanimi" />
          <label class="newGameLabel">Email</label>
          <input class="textbox" placeholder="Email" />
          <label class="newGameLabel" for="password">Parool</label>
          <input
            class="textbox"
            placeholder="Parool"
            type="password"
            v-model="user.password"
            name="password"
          />
          <label class="newGameLabel">Korda Parooli</label>
          <input
            class="textbox"
            placeholder="Parool"
            type="password"
            v-model="user.password"
            name="password"
          />
          <div>
            <button type="button" class="addEvent">Registreeri konto</button>
          </div>
          <div>
            <button type="button" class="addEvent" @click="makeLoginVisible()">
              Tagasi Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { User } from '@/model/user';
import router from '@/router';
import { useAuthStore } from '@/stores/authStore';
import { ref } from 'vue';

const auth = useAuthStore();
const user: User = { username: '', password: '' };

let showError = ref(false);

const submit = async () => {
  showError.value = !(await auth.login(user));
  if (!showError.value) {
    router.push({ name: 'Home' });
  }
};

const btn = document.getElementById('looKonto');

function makeVisible() {
  const form = document.getElementById('registreeriFrom');
  const form2 = document.getElementById('loginFrom');
  if (form != null && form2 != null)
    if (form.style.display === 'none') {
      // 👇️ this SHOWS the form
      form.style.display = 'block';
      form2.style.display = 'none';
    }
}
function makeLoginVisible() {
  const form = document.getElementById('registreeriFrom');
  const form2 = document.getElementById('loginFrom');
  if (form != null && form2 != null)
    if (form2.style.display === 'none') {
      // 👇️ this SHOWS the form
      form.style.display = 'none';
      form2.style.display = 'block';
    }
}
</script>

<style scoped>
.errorMessage {
  color: rgb(203, 5, 5);
  font-size: 25px;
  text-align: center;
  padding-top: 100px;
}
.registerForm {
  display: none;
}
button.addEvent {
  position: relative;
  float: left;
  margin-right: 2%;
  margin-top: 6%;
  margin-top: 6%;
}
button {
  border: none;
  color: white;
  font-family: jost;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: rgba(44, 47, 72, 0.5);
  border-radius: 5px;
  position: absolute;
}
.textbox {
  margin-bottom: 4px;
  margin-right: 160px;
  display: block;
  position: relative;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(209, 213, 219);
  color: rgba(107, 114, 128);
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexbox-item-rules {
  align-self: flex-start;
  width: 660px;
  min-width: 400px;
  margin-right: 30px;
  margin-left: 30px;
}
.flexbox-item-name {
  align-self: flex-start;
  width: 660px;
  min-width: 400px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.newGameLabel {
  font-family: jost;
  font-style: normal;
  color: black;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 20px;
}
</style>
