<template>
  <div>
    {{ game.id }} : {{ game.name }} : {{ game.rules }} : {{ game.events }} :
    {{ game.picturePath }}
  </div>
</template>

<script setup lang="ts">
import { Game } from '@/model/game';

defineProps<{ game: Game }>();
</script>
