<template>
  <link href="style.css" rel="stylesheet" />
  <nav>
    <img src="@/images/Ellipse3.svg" class="ellipse3" />
    <div class="branding">
      <router-link to="/">
        <img src="@/images/FaviconLogo.png" class="logo" alt="pointsGameLogo"
      /></router-link>
    </div>
    <router-link to="/newgame" custom v-slot="{ navigate }">
      <button @click="navigate" role="link" class="button1 newGame">
        Loo uus mäng
      </button>
    </router-link>
    <router-link to="/login" custom v-slot="{ navigate }">
      <button
        v-if="!isAuthenticated"
        @click="navigate"
        role="link"
        class="button1 logIn"
      >
        Logi sisse
      </button>
      <button
        type="button"
        v-if="isAuthenticated"
        class="button1 logIn"
        @click="signOut"
      >
        Logi välja
      </button>
    </router-link>
  </nav>
  <router-view />
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import { useAuthStore } from '@/stores/authStore';
import { ref } from 'vue';
import { storeToRefs } from 'pinia';
const router = useRouter();

const authStore = useAuthStore();
const { logout } = authStore;
const { isAuthenticated } = storeToRefs(authStore);

const signOut = () => {
  logout();
  router.push({ name: 'Log in' });
};
</script>
<style scoped></style>
