<template>
  <div class="popup" v-show="open">
    <MBBtnClose />
    <div class="popup-inner">
      <slot />
      <div class="outer" @click="$emit('close')">
        <div class="inner">
          <label>Close</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
};
</script>

<style scoped>
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-inner {
  background: rgb(163, 165, 199);
  border: 2px solid rgb(60, 64, 122);
  border-radius: 0.5rem;
  padding: 1rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #141926;
  font-family: Helvetica, Arial, sans-serif;
}

.outer {
  position: relative;
  margin: auto;
  width: 70px;
  margin-top: 50px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label {
  font-size: 0.8em;
  line-height: 4em;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before,
.inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #ffc107;
  left: 0;
  transition: all 0.3s ease-in;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}
</style>
