<template>
  <div class="tempRegisterdiv">
    <h1 class="tempRegisterHeader">Siia tuleb registreerimise form</h1>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped>
.tempRegisterdiv {
  margin: auto;
  width: 20%;
  border: 2px solid rgb(4, 140, 219);
  padding-top: 20px;
  padding-bottom: 560px;
  margin-top: 100px;
}

.tempRegisterHeader {
  text-align: center;
}
</style>
