@font-face {
  font-family: jost;
  src: url(src/fonts/Jost-Regular.ttf);
}

.background {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    #43c6ac 0.59%,
    rgba(25, 22, 84, 0.7) 100%
  );
}
nav {
  justify-content: space-between;
  padding-bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background: #43c6ac 0.59%;
}
button {
  border: none;
  color: white;
  font-family: jost;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
  background: rgba(44, 47, 72, 0.5);
  border-radius: 5px;
}
.button1 {
  border: none;
  color: white;
  font-family: jost;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
  background: rgba(44, 47, 72, 0.7);
  border-radius: 5px;
}
.button1.logIn {
  position: absolute;
  margin-right: 2%;
  right: 3%;
}
.button1.newGame {
  position: absolute;
  margin-right: 2%;
  right: 190px;
}
.button2 {
  border: none;
  color: white;
  font-family: jost;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 20px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
  background: rgba(25, 22, 84, 0.74);
  border-radius: 5px;
}
.ellipse1 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  height: auto;
}
.ellipse2 {
  position: absolute;
  left: 0;
  top: 20vh;
  width: 10%;
  height: auto;
}
.ellipse3 {
  position: absolute;
  left: 60vh;
  top: 0;
  width: 40%;
  height: auto;
}
h1 {
  position: absolute;

  height: 61px;

  font-family: jost;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 60px;
  margin-top: 0px;
  margin-bottom: 1px;
  padding-bottom: 20px;
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}
button:hover {
  background-color: rgb(255, 191, 244);
}
.logo {
  padding-left: 10px;
  margin-top: 10%;
  margin-right: 20px;
  left: 50px;
  width: 120px;
  height: 110px;
}
