<template>
  <link href="style.css" rel="stylesheet" />
  <div class="background">
    <img src="@/images/Ellipse2.svg" class="ellipse2" />

    <div class="flexbox-container">
      <div class="flexbox-item flexbox-item-name">
        <div>
          <label class="newGameLabel">Mängu nimi</label>
          <input
            class="textbox"
            v-model="liveGame.name"
            placeholder="Mängu nimi"
          />
        </div>
        <div class="voistlejad">
          <div class="voistlejadTable">
            <label class="newGameLabel">Võistlejad</label>
            <tr class="trVoistlejad" v-for="(input, index) in playersArray">
              <input
                :id="index.toString"
                class="voistlejadtextbox"
                v-model="playersArray[index]"
                :placeholder="(index + 1).toString() + '. võistleja'"
                :key="index"
              />
              <td>
                <input
                  type="button"
                  @click="removeField(index, playersArray)"
                  class="removeAtButton"
                  value="X"
                />
              </td>
            </tr>
            <div class="PlayerButtons">
              <button
                class="button3 addPlayer"
                type="button"
                @click="addField(playersArray)"
              >
                Lisa võistleja
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flexbox-item flexbox-item-rules">
        <div class="reeglid">
          <label class="newGameLabel">Reeglid</label>
          <form>
            <textarea
              v-model="liveGame.rules"
              class="textbox"
              rows="10"
              cols="60"
              name="text"
              placeholder="Lisa reeglid"
            ></textarea>
          </form>
        </div>
        <div class="alad">
          <button type="button" class="button3 Help" @click="isOpen = true">
            Valemite õpetus
          </button>
          <label class="newGameLabel">Alad</label>
          <tr v-for="(events, index) in eventsArray">
            <input
              class="textbox"
              :id="index.toString"
              v-model="eventsArray[index]"
              :placeholder="(index + 1).toString() + '. ala'"
              :key="index"
            />
            <td>
              <input
                class="textbox"
                type="text"
                v-model="formulasArray[index]"
                :placeholder="(index + 1).toString() + '. valem'"
              />
            </td>
            <td>
              <input
                type="button"
                @click="removeField(index, eventsArray)"
                class="removeAtButton"
                value="X"
              />
            </td>
          </tr>
        </div>
        <div class="PlayerButtons">
          <button
            type="button"
            class="button3 addEvent"
            @click="addField(eventsArray)"
          >
            Lisa ala
          </button>
        </div>
        <div class="createNewGameButton">
          <button class="button2 newGame" @click="Submit">Loo uus mäng</button>
        </div>
        <div></div>
        <Popup :open="isOpen" @close="isOpen = !isOpen">
          <p>
            <b>Enda tulemust tähistage tähega x</b> <br />
            Näide: x*100 - 25
            <br />
            <br />
            Hiljem arvutatakse tulemuseks saadud arv valemi abil punktideks
            <br />
            Näide: Tulemuseks saadi 4 meetrit. <br />
            Valem arvutab : 4*100 - 25<br />
            Punktisumma: 375
            <br />
            <br />
            <b>x ei pea olema valemis esimesel kohal</b>
            <br />
            Näide: 60/x + 30<br />
            Tulemus: 3<br />
            Valem arvutab: 60/3+30<br />
            Punktisumma: 50 <br />
            <br />
            <b>Tulemuse sisestamisel kasuta ,(koma) asemel .(punkt)</b><br />
            Näide: 13,5 asemel 13.5
          </p>
        </Popup>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, Ref } from 'vue';
import { useGamesStore } from '@/stores/gameStore';
import { Game } from '@/model/game';
import { Player } from '@/model/game';
import { Event, Points, Results } from '@/model/game';
import Popup from '@/components/Popup.vue';

/** variables **/
const isOpen = ref(false);
let { addGame, liveGame } = useGamesStore();

const playersArray = ref(['', '', '', '']);
const eventsArray = ref([
  '60m tõkkejooks',
  'Kõrgushüpe',
  'Kuulitõuge',
  'Kaugushüpe',
  '800m jooks',
]);
const formulasArray = ref([
  '20.0479*(17-x)**1.835',
  '1.84523*(x-75)**1.348',
  '56.0211*(x-1.5)**1.05',
  '0.188807*(x-210)**1.41',
  '0.11193*(254-x)**1.88',
]);
const playersArr = <Array<Player>>[];
const eventsArr = <Array<Event>>[];
const gameRules =
  'Naiste viievõistlus koosneb viiest alast, mis peetakse ühel päeval järgmises järjekorras: 60m tõkkejooks, kõrgushüpe, kuulitõuge, kaugushüpe ja 800m jooks.';

liveGame = {
  id: 0,
  user: '',
  name: '',
  isPublic: true,
  rules: gameRules,
  players: playersArr,
  events: eventsArr,
  picturePath: '',
};

/** methods **/

function consoleLogTest() {
  console.log(liveGame);
}

function addValuesToClasses() {
  for (let i = 0; i < eventsArray.value.length; i++) {
    var tempEvent: Event = {
      id: 0,
      name: eventsArray.value[i],
      formula: returnXifEmpty(formulasArray.value[i]),
    };
    eventsArr.push(tempEvent);
  }
  for (let i = 0; i < playersArray.value.length; i++) {
    var tempPlayer: Player = {
      id: 0,
      name: playersArray.value[i],
      results: FillResultsArray(eventsArray.value.length),
      points: FillPointsArray(eventsArray.value.length),
    };
    playersArr.push(tempPlayer);
  }
}

function FillResultsArray(length: number): Array<Results> {
  var results: Results[] = [];
  for (let i = 0; i < length; i++) {
    var result: Results = {
      result: 0,
    };
    results.push(result);
  }
  return results;
}

function FillPointsArray(length: number): Array<Points> {
  var points: Points[] = [];
  for (let i = 0; i < length; i++) {
    var point: Points = {
      point: 0,
    };
    points.push(point);
  }
  return points;
}

function returnXifEmpty(input: string): string {
  if (input != '') {
    return input;
  }
  return 'x';
}

function validateFields(): boolean {
  if (playersArray.value.length < 1) {
    alert('UUE MÄNGU LOOMISEKS PEAB OLEMA VÄHEMALT ÜKS MÄNGIJA');
    return false;
  }
  if (liveGame?.name == '') {
    alert('UUE MÄNGU LOOMISEKS PEAB OLEMA MÄNGUL NIMI');
    return false;
  }
  if (eventsArray.value.length < 1) {
    alert('UUE MÄNGU LOOMISEKS PEAB OLEMA VÄHEMALT ÜKS ALA');
    return false;
  }
  return true;
}

function ClearEmptyValuesInArrays() {
  playersArray.value = playersArray.value.filter(function (el) {
    return el != '';
  });
  eventsArray.value = eventsArray.value.filter(function (el) {
    return el != '';
  });
}

function addField(arrayName: Array<string>) {
  arrayName.push('');
}

function removeField(index: number, arrayName: Array<string>) {
  arrayName.splice(index, 1);
  console.log(playersArray.value);
}

function Submit() {
  ClearEmptyValuesInArrays();
  if (validateFields()) {
    addValuesToClasses();
    addGame(liveGame);
  }
}
</script>

<style scoped>
td {
  padding-left: 5px;
}
.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexbox-item-rules {
  align-self: flex-start;
  width: 660px;
  min-width: 400px;
  margin-right: 30px;
  margin-left: 30px;
}
.flexbox-item-name {
  align-self: flex-start;
  width: 660px;
  min-width: 400px;
  margin-right: 30px;
  margin-left: 30px;
}

.removeAtButton {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14.5px;
  padding-right: 14.5px;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(209, 213, 219);
  color: rgb(0, 0, 0);
  background-color: rgba(255, 0, 0, 0.5);
  font-size: 14px;
  cursor: pointer;
  font-weight: bolder;
}

.PlayerButtons {
  position: block;
  margin-bottom: 40px;
}
.createNewGameButton {
  position: relative;
  margin-top: 100px;
  margin-left: 77%;
  margin-bottom: 20px;
}
.button2.newGame {
  margin-right: 3%;
  right: 20%;
  bottom: 10%;
  margin-left: auto;
}
.button3 {
  border: none;
  color: white;
  font-family: jost;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: rgba(44, 47, 72, 0.5);
  border-radius: 5px;
  position: absolute;
}
.button3.addPlayer {
  position: relative;
  float: right;
  margin-right: 2%;
  margin-top: 6%;
}

.button3.addEvent {
  position: relative;
  float: right;
  margin-right: 2%;
  margin-top: 6%;
}

.button3.Help {
  position: relative;
  float: right;
  margin-right: 2%;
  margin-top: 3%;
}
.CreateNewGame {
  border-radius: 6px;
  border-color: black;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: jost;
  font-size: 20px;
}

button:hover {
  background-color: rgb(255, 191, 244);
}

label {
  font-weight: bold;
  display: block;
  padding-bottom: 3px;
}

.voistlejad {
  padding-top: 17px;
}

.newGameLabel {
  font-family: jost;
  font-style: normal;
  color: black;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 20px;
}

.alad {
  padding-top: 0.15px;
}
.textbox {
  margin-bottom: 4px;
  margin-right: 160px;
  display: block;
  position: relative;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(209, 213, 219);
  color: rgba(107, 114, 128);
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
}

.voistlejadtextbox {
  margin-bottom: 4px;

  display: block;
  position: relative;
  width: 613px;
  min-width: 200px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(209, 213, 219);
  color: rgba(107, 114, 128);
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(88, 88, 88);
  opacity: 1; /* Firefox */
}
.textbox:focus {
  outline: none !important;
  border-color: #ec4899;
  opacity: 1;
}
.voistlejadtextbox:focus {
  outline: none !important;
  border-color: #ec4899;
  opacity: 1;
}
</style>
